<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-sm-2">
            <ul id="sidebar" class="nav nav-stacked affix">
                <li><a ng-if="vm.isAdmin()" href="#/suppliers"><i class="fa fa-truck" aria-hidden="true"></i>Поставщики</a>
                </li>
                <li><a ng-if="vm.isAdmin()" href="#/supplies"><i class="fa fa-download" aria-hidden="true"></i>Поставки</a>
                </li>
                <li><a href="#/goods-stat"><i class="fa fa-pie-chart" aria-hidden="true"></i>Статистики</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                 ng-if="flash" ng-bind="flash.message"></div>
            <ul class="breadcrumb">
                <li class="active">Товары</li>
            </ul>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Доступные товары</div>
                <div class="custom-search">
                    <label for="nameSearch">Поиск по названию:</label>
                    <div class="input-group">
                        <input type="text" placeholder="Поиск" class="form-control" id="nameSearch" ng-model="search.name">
                        <div class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <label for="quantitySearch">Поиск по количеству:</label>
                    <div class="input-group">
                        <input type="text" placeholder="Поиск" class="form-control" id="quantitySearch" ng-model="search.quantity">
                        <div class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                    <label for="priceSearch">Поиск по цене: </label>
                    <div class="input-group">
                        <input type="text" placeholder="Поиск" class="form-control" id="priceSearch" ng-model="search.price">
                        <div class="input-group-btn">
                            <button class="btn btn-default">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th>О продукте</th>
                        <th>Склады</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="g in vm.goods | filter:search:strict" class="{{g.quantity > 0 ? '' : 'danger'}}">
                        <td>{{g.name}}</td>
                        <td>{{g.quantity}}</td>
                        <td>{{g.price}}</td>
                        <td>{{g.about}}</td>
                        <td>
                            <ul>
                                <li ng-repeat="address in g.addresses">
                                    {{address.country}}, {{address.city}}, {{address.street}} {{address.number}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <button ng-if="vm.isAdmin()"
                                    ng-click="vm.showEditForm(g)"
                                    ctype="button" class="btn btn-default btn-sm"
                                    data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-edit"></span> Редактировать
                            </button>
                            <button ng-if="vm.isAdmin()"
                                    ng-click="vm.remove(g.idGoods)"
                                    type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </button>
                            <button ng-if="g.quantity == 0 && vm.isAdmin()"
                                    ng-click="vm.showOrderForm(g)"
                                    ctype="button" class="btn btn-default btn-sm"
                                    data-toggle="modal" data-target="#orderSupply">
                                <span class="glyphicon glyphicon-download"></span> Заказать товар
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button ng-if="vm.isAdmin()"
                    ng-click="vm.showCreationForm()"
                    ctype="button" class="btn btn-info btn-lg"
                    data-toggle="modal" data-target="#myModal">
                Добавить
            </button>
            <img ng-if="vm.dataLoading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{vm.creationForm ? "Добавление" : "Редактирование"}}</h4>
                </div>
                <form name="form" ng-submit="vm.formAction()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                        <label for="name">Название товара</label>
                        <input type="text" name="name" id="name" class="form-control" ng-model="vm.newGoods.name"
                               required/>
                        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Название товара - обязательное поле</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.price.$dirty && form.price.$error.required }">
                        <label for="name">Цена</label>
                        <input type="number" name="price" id="price" class="form-control" ng-model="vm.newGoods.price"
                               required/>
                        <span ng-show="form.price.$dirty && form.price.$error.required"
                              class="help-block">Цена - обязательное поле</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.about.$dirty && form.about.$error.required }">
                        <label for="name">Коротко о товаре:</label>
                        <input type="text" name="about" id="about" class="form-control" ng-model="vm.newGoods.about"
                               required/>
                        <span ng-show="form.about.$dirty && form.about.$error.required"
                              class="help-block">О вас - обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.formAction()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="modal fade" id="orderSupply" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Заказать</h4>
                </div>
                <form name="form" ng-submit="vm.formAction()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.supplier.$dirty && form.supplier.$error.required }">
                        <label for="supplier">Поставщик</label>
                        <select class="form-control" id="supplier" name="supplier" ng-model="vm.newSupply.supplier"
                                required>
                            <option ng-repeat="s in vm.suppliers" value="{{s.idSupplier}}">{{s.name}}</option>
                        </select>
                        <span ng-show="form.supplier.$dirty && form.supplier.$error.required"
                              class="help-block">Поставщик - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.supplier.$dirty && form.supplier.$error.required }">
                        <label for="supplier">Склад</label>
                        <br/>
                        <label ng-repeat="a in vm.addresses" class="radio-inline">
                            <input value="{{a.idAddress}}" type="radio" ng-model="vm.newSupply.address">
                            {{a.country}}, {{a.city}}, {{a.street}} {{a.number}}
                        </label>
                        <span ng-show="form.supplier.$dirty && form.supplier.$error.required"
                              class="help-block">Поставщик - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.quantity.$dirty && form.quantity.$error.required }">
                        <label for="quantity">Количество</label>
                        <input type="number" min="0" name="quantity" id="quantity" class="form-control"
                               ng-model="vm.newSupply.quantity" required/>
                        <span ng-show="form.quantity.$dirty && form.quantity.$error.required" class="help-block">Количество - обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.formAction()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
