<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Logistic System</title>

    <script type="text/javascript" src="/dist/js/libs.js"></script>
    <script type="text/javascript" src="/dist/js/app.js"></script>
    <link rel="stylesheet" href="/dist/css/app.css">
    <link rel="stylesheet" href="/dist/css/libs.css">
</head>
<body>
<div id="wrap">
    <top-menu></top-menu>
    <ui-view></ui-view>
</div>
<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; 2016 Kurhanovich Aliaksei. All Rights Reserved <a href="http://www.bsuir.by">bsuir.by</a>
        </p>
    </div>
</div>

<!--<ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>-->
</body>
</html>
