@import "../../bower_components/bootstrap/dist/css/bootstrap.min.css";

body {
  background: #f1fff8;
}

.nav.navbar-nav.navbar-right.margin-right-5 {
  margin-right: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.width-20 {
  width: 20px;
}
