<div class="container" style="margin-top:70px">
    <div class="row">
        <div class="col-sm-2">
            <ul id="sidebar" class="nav nav-stacked affix">
                <li>
                    <a href="#/buys">История поставок
                        <span ng-if="vm.countOfNonComplete > 0" class="badge">
                            {{vm.countOfNonComplete}}
                        </span>
                    </a>
                </li>
                <li><a href="#">Статистика</a></li>
            </ul>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Заказы:</div>

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Клиент</th>
                        <th>Периодичность (раз в n дней)</th>
                        <th>Размер поставки(шт.)</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in vm.purchases"
                        class="{{p.confirmed == false && p.goods.quantity === 0 ? 'danger' : (
                        (p.confirmed == false && p.goods.quantity != 0) ||
                        (p.confirmed == true && p.goods.quantity === 0) ? 'warning' : 'success'
                        )}}">
                        <td>{{p.goods.name}}</td>
                        <td>{{p.client.name}}</td>
                        <td>{{p.frequency}}</td>
                        <td>{{p.quantity}}</td>
                        <td>{{p.confirmed ? "Подтверждено" : "Не подтверждено"}}</td>
                        <td>
                            <button ng-if="p.confirmed == false && p.goods.quantity != 0 && vm.isAdmin()"
                                    ng-click="vm.confirm(p.idPurchase)" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-ok"></span> Подтвердить
                            </button>
                            <button ng-if="!vm.isAdmin()" ng-click="vm.showEditForm(p)" ctype="button"
                                    class="btn btn-default btn-sm"
                                    data-toggle="modal" data-target="#myModal">
                                <span class="glyphicon glyphicon-edit"></span> Редактировать
                            </button>
                            <button ng-if="p.goods.quantity === 0 && vm.isAdmin()" ng-click="vm.showOrderForm(p.goods)"
                                    ctype="button"
                                    class="btn btn-default btn-sm"
                                    data-toggle="modal" data-target="#orderSupply">
                                <span class="glyphicon glyphicon-download"></span> Заказать товар на склад
                            </button>
                            <button ng-click="vm.remove(p.idPurchase)" type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span> Удалить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <button ng-if="!isAdmin()" ng-click="vm.showCreationForm()" ctype="button" class="btn btn-info btn-lg"
                    data-toggle="modal"
                    data-target="#myModal">
                Создать заказ на поставки
            </button>
            <img ng-if="vm.dataLoading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

        </div>
    </div>
    <div class="modal fade" id="orderSupply" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Заказать</h4>
                </div>
                <form name="form" ng-submit="vm.formAction()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.supplier.$dirty && form.supplier.$error.required }">
                        <label for="supplier">Поставщик</label>
                        <select class="form-control" id="supplier" name="supplier" ng-model="vm.newSupply.supplier"
                                required>
                            <option ng-repeat="s in vm.suppliers" value="{{s.idSupplier}}">{{s.name}}</option>
                        </select>
                        <span ng-show="form.supplier.$dirty && form.supplier.$error.required"
                              class="help-block">Поставщик - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
                        <label for="supplier">Склад</label>
                        <br/>
                        <label ng-repeat="a in vm.addresses" class="radio-inline">
                            <input value="{{a.idAddress}}" name="address" type="radio" ng-model="vm.newSupply.address">
                            {{a.country}}, {{a.city}}, {{a.street}} {{a.number}}
                        </label>
                        <span ng-show="form.address.$dirty && form.address.$error.required"
                              class="help-block">Поставщик - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.quantity.$dirty && form.quantity.$error.required }">
                        <label for="quantity">Количество</label>
                        <input type="number" min="0" name="quantity" id="quantity" class="form-control"
                               ng-model="vm.newSupply.quantity" required/>
                        <span ng-show="form.quantity.$dirty && form.quantity.$error.required" class="help-block">Количество - обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.formAction()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{vm.creationForm ? "Добавление" : "Редактирование"}}</h4>
                </div>
                <form name="form" ng-submit="vm.formAction()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group" ng-class="{ 'has-error': form.goods.$dirty && form.goods.$error.required }">
                        <label for="goods">Товар</label>
                        <select class="form-control" id="goods" name="goods" ng-model="vm.newPurchase.goods"
                                required>
                            <option ng-repeat="g in vm.goods" value="{{g.idGoods}}">{{g.name}}</option>
                        </select>
                        <span ng-show="form.goods.$dirty && form.goods.$error.required" class="help-block">Товара - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.frequency.$dirty && form.frequency.$error.required }">
                        <label for="frequency">Частота</label>
                        <input type="number" name="frequency" id="frequency" class="form-control"
                               ng-model="vm.newPurchase.frequency"
                               required/>
                        <span ng-show="form.frequency.$dirty && form.frequency.$error.required"
                              class="help-block">Периодичность - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.quantity.$dirty && form.quantity.$error.required }">
                        <label for="quantityPur">Размер заказов</label>
                        <input type="text" name="quantity" id="quantityPur" class="form-control"
                               ng-model="vm.newPurchase.quantity"
                               required/>
                        <span ng-show="form.quantity.$dirty && form.quantity.$error.required"
                              class="help-block">Количество - обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.formAction()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
