<nav class="navbar navbar-inverse sidebar" role="navigation" style="margin-top:50px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Личный кабинет</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="modal"
                       data-target="#myModal">
                        Редактировать
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil">
                        </span>
                    </a>
                </li>
                <li>
                    <a data-toggle="modal"
                       data-target="#passwordModal">
                        Сменить пароль
                        <span style="font-size:16px;"
                              class="pull-right hidden-xs showopacity glyphicon glyphicon-lock">
                        </span>
                    </a>
                </li>
                <li><a href="#/user-stat">Статистика<span style="font-size:16px;"
                                                          class="pull-right hidden-xs showopacity fa fa-bar-chart"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main">
    <div class="container" align="center" style="margin-top:70px">
        <div id="wrapper" class="toggled">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                         ng-if="flash" ng-bind="flash.message"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Ваш профиль:</h1>
                            <table class="table">
                                <input type="hidden" name="idUser" value="${user.idUser}"/>
                                <tr>
                                    <td>Название компании:</td>
                                    <td>{{vm.user.name}}</td>
                                </tr>
                                <tr>
                                    <td>Контактный email:</td>
                                    <td>{{vm.user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Контактный телефон:</td>
                                    <td>{{vm.user.phone}}</td>
                                </tr>
                                <tr>
                                    <td>Username:</td>
                                    <td>{{vm.user.username}}</td>
                                </tr>
                                <tr>
                                    <td>О вас:</td>
                                    <td>{{vm.user.about}}</td>
                                </tr>
                            </table>
                            <img ng-if="vm.dataLoading"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редактирование</h4>
                </div>
                <form name="form" ng-submit="vm.edit()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                        <label for="name">Имя</label>
                        <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name"
                               required/>
                        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Имя - обязательное поле</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" ng-model="vm.user.email"
                               required/>
                        <span ng-show="form.email.$dirty && form.email.$error.required"
                              class="help-block">Email - обязательное поле</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
                        <label for="phone">Телефона</label>
                        <input type="text" name="phone" id="phone" class="form-control"
                               ng-model="vm.user.phone" required/>
                        <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">Телефон - обязательное поле</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.about.$dirty && form.about.$error.required }">
                        <label for="about">О вас</label>
                        <input type="text" name="about" id="about" class="form-control" ng-model="vm.user.about"
                               required/>
                        <span ng-show="form.about.$dirty && form.about.$error.required"
                              class="help-block">О вас - обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.edit()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="modal fade" id="passwordModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Смена пароля</h4>
                </div>
                <form name="form" ng-submit="vm.changePassword()" role="form"
                      style="padding-left: 10px; padding-right: 10px">
                    <div class="form-group" ng-class="{ 'has-error': form.newPass.$dirty && form.newPass.$error.required }">
                        <label for="newPass">Новый пароль</label>
                        <input type="password" name="newPass" id="newPass" class="form-control" ng-model="vm.password.password"
                               required/>
                        <span ng-show="form.newPass.$dirty && form.newPass.$error.required" class="help-block">Обязательное поле</span>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="vm.changePassword()" type="submit" class="btn btn-default" data-dismiss="modal">
                            Принять
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

